In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1429,tt0408524,30000000,34252847,Bad News Bears,Billy Bob Thornton|Ken Medlock|Aman Johal|Greg...,Richard Linklater,The bases are loaded... so is the coach.,Morris Buttermaker is a burned-out minor leagu...,113,Comedy|Family,Paramount Pictures,7/22/2005,5.5,2005
299,tt1139668,16000000,76514050,The Unborn,Odette Annable|Gary Oldman|Meagan Good|Cam Gig...,David S. Goyer,Evil will do anything to live.,A young woman fights the spirit that is slowly...,87,Horror|Thriller|Mystery,Rogue Pictures|Phantom Four|Platinum Dunes|Rel...,1/9/2009,4.9,2009
986,tt0790724,60000000,218340595,Jack Reacher,Tom Cruise|Rosamund Pike|Richard Jenkins|David...,Christopher McQuarrie,The Law Has Limits. He Does Not.,"In an innocent heartland city, five are shot d...",130,Crime|Drama|Thriller,Paramount Pictures|Mutual Film Company|Skydanc...,12/20/2012,6.2,2012
1428,tt0395972,35000000,25224242,North Country,Charlize Theron|Elle Peterson|Thomas Curtis|Fr...,Niki Caro,All She Wanted Was To Make A Living. Instead S...,A fictionalized account of the first major suc...,126,Drama,Warner Bros.|Participant Media|Nick Wechsler P...,2/12/2005,6.8,2005
1436,tt0381061,150000000,599045960,Casino Royale,Daniel Craig|Eva Green|Mads Mikkelsen|Judi Den...,Martin Campbell,Everyone has a past. Every legend has a beginn...,"Le Chiffre, a banker to the world's terrorists...",144,Adventure|Action|Thriller,Eon Productions,11/14/2006,7.1,2006

In [ ]:
data.describe()

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов
data['profit'] = data.revenue - data.budget #add new column profit
data.release_date = pd.to_datetime(data['release_date']) #translate time in DateTime format
data2 = data.copy() #create data copy

def splitting(string):
    """This function separates the values in the cells"""
    return string.str.split('|') 

data.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [66]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

In [96]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title_length,companies_list,overview_len
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,43,"[Walt Disney Pictures, Jerry Bruckheimer Films...",75

ВАРИАНТ 2

In [95]:
data.sort_values('budget', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title_length,companies_list,overview_len
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,43,"[Walt Disney Pictures, Jerry Bruckheimer Films...",75

# 2. Какой из фильмов самый длительный (в минутах)?

In [67]:
answers['2'] = 'Gods and Generals'

In [97]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title_length,companies_list,overview_len
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064,17,"[Turner Pictures, Antietam Filmworks]",48

# 3. Какой из фильмов самый короткий (в минутах)?

In [68]:
answers['3'] = 'Winnie the Pooh'

In [98]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title_length,companies_list,overview_len
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000,15,"[Walt Disney Pictures, Walt Disney Animation S...",52

# 4. Какова средняя длительность фильмов?

In [69]:
answers['4'] = '110'

In [99]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [70]:
answers['5'] = '107'

In [100]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [71]:
answers['6'] = 'Avatar'

In [101]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title_length,companies_list,overview_len
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847,6,"[Ingenious Film Partners, Twentieth Century Fo...",28

# 7. Какой фильм самый убыточный?

In [72]:
answers['7'] = 'The Lone Ranger'

In [102]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title_length,companies_list,overview_len
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,15,"[Walt Disney Pictures, Jerry Bruckheimer Films...",68

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [73]:
answers['8'] = '1478'

In [103]:
high_budget = data[data.revenue > data.budget]
high_budget.count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
title_length            1478
companies_list          1478
overview_len            1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [74]:
answers['9'] = 'The Dark Knight'

In [104]:
max_revenue_2008 = data[(data['release_year'] == 2008)].revenue.max()
data[data.revenue == max_revenue_2008]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title_length,companies_list,overview_len
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,15,"[DC Comics, Legendary Pictures, Warner Bros., ...",67

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [75]:
answers['10'] = 'The Lone Ranger'

In [116]:
min_revenue_2012_2014 = data[(data.release_year >= 2012)
    &(data.release_year <= 2014)].profit.min()
data[data.profit == min_revenue_2012_2014]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title_length,companies_list,overview_len
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,15,"[Walt Disney Pictures, Jerry Bruckheimer Films...",68

# 11. Какого жанра фильмов больше всего?

In [76]:
answers['11'] = 'Drama'

In [106]:
Counter(splitting(data['genres']).sum())

Counter({'Action': 582,
         'Adventure': 415,
         'Science Fiction': 248,
         'Thriller': 596,
         'Fantasy': 222,
         'Crime': 315,
         'Western': 19,
         'Drama': 782,
         'Family': 260,
         'Animation': 139,
         'Comedy': 683,
         'Mystery': 168,
         'Romance': 308,
         'War': 58,
         'History': 62,
         'Music': 64,
         'Horror': 176,
         'Documentary': 8,
         'Foreign': 2})

ВАРИАНТ 2

In [107]:
Counter(splitting(data['genres']).sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [77]:
answers['12'] = 'Drama'

In [108]:
profit_movie = data[data.profit > 0]
Counter(splitting(profit_movie['genres']).sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [78]:
answers['13'] = 'Peter Jackson'

In [109]:
data2.director = data2.director.apply(lambda x: x.split("|"))
data2 = data2.explode('director')

data2.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [79]:
answers['14'] = 'Robert Rodriguez'

In [110]:
action = data[data.genres.str.contains('Action', na=False)]
action.director = action.director.apply(lambda x: x.split("|"))
action = action.explode('director')

action.groupby(['director'])['imdb_id'].count().sort_values(ascending=False).head(1)

director
Robert Rodriguez    9
Name: imdb_id, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [80]:
answers['15'] = 'Chris Hemsworth'

In [111]:
data_2012 = data[data.release_year == 2012]
data_2012.cast = data_2012.cast.apply(lambda x: x.split("|"))
data_2012 = data_2012.explode('cast')
display(data_2012.groupby('cast')['revenue'].sum().sort_values(ascending=False).head(1))

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [81]:
answers['16'] = 'Matt Damon'

In [112]:
high_budget_films = data[data.budget > data.budget.mean()]
high_budget_films.cast = high_budget_films.cast.apply(lambda x: x.split("|"))
high_budget_films = high_budget_films.explode('cast')

display(high_budget_films.groupby('cast')['budget'].count().sort_values(ascending=False).head(1))

cast
Matt Damon    18
Name: budget, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [82]:
answers['17'] = 'Action'

In [113]:
nicolas_films = data[data.cast.str.contains('Nicolas Cage', na=False)]
Counter(splitting(nicolas_films['genres']).sum()).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [83]:
answers['18'] = 'K-19: The Widowmaker'

In [114]:
paramount_data = data[data.production_companies.str.contains('Paramount', na=False)]
paramount_data[paramount_data.profit == paramount_data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title_length,companies_list,overview_len
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034,20,"[Paramount Pictures, Intermedia Films, Nationa...",23

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [84]:
answers['19'] = '2015'

In [115]:
display(data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(3))

release_year
2015    25449202382
2014    23405862953
2013    23213799791
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [85]:
answers['20'] = '2014'

In [184]:
warner_data = data[data.production_companies.str.contains('Warner Bros', na=False)]
warner_data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2014    3243064519
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [86]:
answers['21'] = 'Сентябрь'

In [188]:
data.release_date.dt.month.value_counts().head(1)

9    227
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [87]:
answers['22'] = '450'

In [20]:
movie_month = data.copy()

movie_month.release_date = movie_month.release_date.dt.strftime("%B")
movie_summer = movie_month[movie_month.release_date.isin(['June', 'July', 'August'])]

movie_summer.imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [88]:
answers['23'] = 'Peter Jackson'

In [23]:
movie_winter = movie_month[movie_month.release_date.isin(['December', 'February', 'January'])]
movie_winter.cast = movie_winter.cast.apply(lambda x: x.split("|"))
movie_winter = movie_winter.explode('cast')
movie_winter.director.value_counts().sort_values(ascending=False).head(1)

Peter Jackson    35
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [89]:
answers['24'] = 'Four By Two Productions'

In [24]:
data['title_length'] = data['original_title'].map(lambda x: len(x))
companies = data['production_companies'].str.split('|').explode().unique()
sum_gen = pd.Series(dtype='float64', index=companies)
for comp in companies:
    sum_gen[comp] = data['title_length'][data['production_companies'].map(lambda x: True if comp in x else False)].mean()

sum_gen.sort_values(ascending=False).head()

Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [90]:
answers['25'] = 'Midnight Picture Show'

In [29]:
data['companies_list'] = data.production_companies.str.split('|')
data['overview_len'] = data['overview'].map(lambda s: len(s.split()))
data_companies = data.explode('companies_list')
data_companies.groupby(['companies_list'])['overview_len'].mean().sort_values(ascending=False)

companies_list
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_len, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [91]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [118]:
data[data['vote_average'] > data['vote_average'].quantile(0.99)][['original_title',
    'vote_average']].sort_values(by='vote_average', ascending=False)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [92]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [32]:
actors = Counter()

for i in data.cast.str.split('|'):
    actors += Counter(combinations(i, 2)) 

for actor in actors.most_common(1):
    print(actor)

(('Daniel Radcliffe', 'Rupert Grint'), 8)

# Submission

In [93]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'24': 'Four By Two Productions',
 '27': 'Daniel Radcliffe, Rupert Grint',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '25': 'Midnight Picture Show',
 '23': 'Peter Jackson',
 '22': '450',
 '21': 'Сентябрь',
 '20': '2014',
 '19': '2015',
 '18': 'K-19: The Widowmaker',
 '17': 'Action',
 '16': 'Matt Damon',
 '15': 'Chris Hemsworth',
 '14': 'Robert Rodriguez',
 '13': 'Peter Jackson',
 '12': 'Drama',
 '9': 'The Dark Knight',
 '7': 'The Lone Ranger',
 '6': 'Avatar',
 '5': '107',
 '4': '110',
 '3': 'Winnie the Pooh',
 '2': 'Gods and Generals',
 '1': 'Pirates of the Caribbean: On Stranger Tides',
 '8': '1478',
 '10': 'The Lone Ranger',
 '11': 'Drama'}

In [94]:
# и убедиться что ни чего не пропустил)
len(answers)

27